{% extends 'base.html' %} 
{% block content %}
<div class="row clearfix">
    <div class="col-md-12">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2 fieldWrapper">
                {{form.text.erros}}
                {{form.text}}
            </div>
            {{form.country.as_hidden}}
            <div class="">
                <input type="submit" value="POST">
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <h3>&nbsp;</h3>
        {% for tweet in tweets %}
            <div class="card">
                <div class="card-body">
                    <span>{{tweet.text}}</span>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}