{% extends 'base.html' %} 
{% block navbar %}
<p class="navbar-text navbar-left">
    <span class="glyphicon glyphicon-user"></span>
    {{ profile.username }}'s Profile Page
    {% if profile.username != user.username %} 
    <span class="btn btn-xs btn-default follow-btn" title="Click to follow {{profile.username}}" value="{{ following }}" username="{{ profile.username }}">
        <span class="glyphicon glyphicon-plus"></span> 
        <span class="follow-text">
            {{ following|yesno:"Unfollow, Follow" }}
        </span>
    </span>
    {% endif %}
</p>
<p class="navbar-text navbar-right">
    <span class="glyphicon glyphicon-user"></span>
    {{ user.username }}
    
</p>
{% endblock %}
{% block content %}
<div class="row clearfix">
    <div class="col-md-12">
        <form action="post/" method="POST" id='search-form'>
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2 fieldWrapper">
                {{form.text.erros}}
                {{form.text}}
                {{form.country.as_hidden}}
            </div>
            <div class="input-group-btn">
                <input type="submit" value="POST">
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <h3>&nbsp;</h3>
        {% for tweet in tweets %}
            <div class="card">
                <div class="card-body">
                    <span>{{tweet.text}}</span>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block js %} 
<script src="{% static 'profile.js' %}"></script>
{% endblock %}